@import "../../variable";

.grid-container {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 0px;
    grid-template-areas:
        "title title title title"
        "conc des dev ops";
}

.title {
    grid-area: title;

}

.dev {
    grid-area: dev;
    align-self: center;
    justify-self: center;
}

.conc {
    grid-area: conc;
    align-self: center;
    justify-self: center;
}

.des {
    grid-area: des;
    align-self: center;
    justify-self: center;
}

.ops {
    grid-area: ops;
    align-self: center;
    justify-self: center;
}

.competence {
    background-color: $c-color-grey;

    &__card {
        width: 75%;
        margin: 2rem auto;
        background-color: rgba($c-white, 0.8);
        box-shadow: 0 3rem 6rem rgba($c-black, 0.4);
        border-radius: 5px;
        font-size: 1.5rem;
        padding: 4rem;
        transform: skewX(-4deg);
    }

    &__text {
        transform: skewX(4deg);
    }
}

.headingBox {
    border-bottom: 1px solid $c-black;
}

@media screen and (max-width: 680px) {
    .competence__card {
        transform: skewX(-0deg);
    }

    .grid-container {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
            "title"
            "conc"
            "des"
            "dev"
            "ops";
    }
}
