@import "../../variable";
@import "../../mixin";

.footer {
    background-color: $c-black;
    padding: 10rem;
    font-size: 1.6rem;
    color: $c-white;

    &__logo-box {
        text-align: center;
    }

    &__logo {
        color: $c-white;
        margin-bottom: 5rem;
    }

    &__list {
        list-style: none;
        display: flex;
        justify-content: space-between;
        // padding: 0 10rem;
    }

    &__col1 {
        display: flex;
        flex-direction: column;
    }

    &__contact {
        display: flex;
        flex-direction: column;
        &--adress,
        &--phone,
        &--mail {
            display: flex;
            align-items: center;
            margin: 0.5rem;
            padding-left: 1rem;
        }
    }

    &__nav {
        border-top: 2px solid $c-white;
        padding-top: 2rem;
    }

    &__item {
        display: inline-block;

        &:not(:last-child) {
            margin-right: 1.6rem;
        }
    }

    &__icone {
        background-color: $c-tertiary;
        padding: 1.3rem;
        border-radius: 50%;
        margin-right: 1rem;

        &:hover {
            box-shadow: 0 0.5rem 1.5rem rgba($c-white, 0.2);
            transform: scale(1.1);
        }
    }

    &__iconeReseau {
        display: flex;
        justify-content: space-around;
        margin: 2rem;
    }

    &__link {
        &:link,
        &:visited {
            color: $c-white;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all 0.2s;
        }

        &:hover {
            color: white;
            box-shadow: 0 1rem 2rem rgba($c-white, 0.2);
            transform: scale(1.1);
        }
    }

    &__copyright {
        border-top: 2px solid $c-white;
        padding-top: 2rem;
        text-align: center;
    }
}

.footer__contact--phone,
.footer__contact--mail,
.footer__contact--adress {
    @include flexCenter(row);
}

@media (max-width: 840px) {
    .footer__contact,.footer__iconeReseau {
        padding-top: 6rem;
    }
}
