.imgRe{
    margin: 2rem;
    width: 18rem;
    height: 18rem;
}

._boxImg{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem
}

@media screen and (max-width:680px){

._boxImg{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem
}
}