$c-primary: #020024;
$c-secondary:#12125c;
$c-tertiary: #1d93ab;

$c-black: #272323;
$c-white: #ebe7e7;
$c-color-grey:#ececf8;
$c-color-grey-dark: #424254;

$c-danger:  rgba(233, 65, 65, 0.25);
$c-success:  rgba(68, 204, 141, 0.25);

$c-danger-l:  rgba(233, 65, 65, 0.1);
$c-success-l:  rgba(68, 204, 141, 0.1);



//font
$default-font-size: 1.6rem;